<%= provide(:title, "Sign In") %>
<%= render "partials/header2" %>
<div class="row container signin-box center-align">
    <div class = "col l5 m8 s12 signin">
        <%= form_for :session, url: sessions_path, html: { class: "signin card-panel" } do |f| %>
        <div class="row entry-signin">
          <div class="input-field">
            <%= f.text_field :email, class: "validate" %>
            <%= f.label :email %>
          </div>
        </div>
        <div class="row entry-signin">
          <div class="input-field">
            <%= f.password_field :password, class: "validate" %>
            <%= f.label :password %>
          </div>
        </div>
        <div class="row submit-signin">
          <%= f.submit "Sign In", class: "btn waves-effect waves-light blue-signin" %>
        </div>
        <div class="row comment-signin">
          <p>Don't have an account? <%= link_to "Please Sign Up", signup_path %></p>
        </div>
      <% end %>
    </div>
</div>
