<%= form_for(@link, remote: true, url: {action: "create"}) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, class: "form-control", pattern: "(https?://)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", placeholder: "Paste a link to prune", class: "validate", required: true %>
  </div>
  <div class="actions">
    <%= f.submit "Prune Me", :class => "btn btn-primary"%>
  </div>
<% end %>
