<%= provide(:title, "Dashboard") %>
<%= render "partials/secret_header" %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container center">
    <h3>Welcome, <%= @user.username %></h3>
    <h5 class="text_h center header cd-headline letters type">
      Add new dimension to your links
    </h5>
    <div class="link-form center">
      <%= form_for @link do |f| %>
        <% if @link.errors.any? %>
          <%= f.hidden_field :user_id %>
          <div id="error_explanation">
            <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

            <ul>
            <% @link.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field1">
          <%= f.text_field :url_input, pattern: url_format, placeholder: "Paste a link to prune", class: "pruner validate", required: true %>
        </div>
        <div class="field2">
          <%= f.text_field :shortened_link, placeholder: "Add a vanity string", class: "pruner validate", value: "", required: false %>
        </div>
        <div class="actions">
          <%= f.button "Prune Me", class: "btn btn-primary"%>
        </div>
      <% end %>
        <%= render "partials/clipboard" if flash[:link]%>
    </div>
  </div>
</div>
<%= will_paginate @links%>
<div class="row user-show">
  <div class="col l12 m7 s7 user-show center">
    <% if @links.any? %>
      <h5>You have <%= pluralize(@links.count, "pruned link") %></h5>
      <ul>
        <% @links.each do |link| %>
          <li><%= render link %></li>
        <% end %>
      </ul>
    <% else %>
      <h5>You currently have no links. Kindly create one with the form above</h5>
    <% end %>
  </div>
</div>
<%= will_paginate @links %>
