<%= provide(:title, "Home") %>
<%= render "partials/header2" %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container center">
    <h1 class="text_h center header cd-headline letters type">
      Get a nice trim link
    </h1>
    <div class="link-form center">
      <%= form_for @link do |f| %>
        <% if @link.errors.any? %>
          <%= f.hidden_field :user_id %>
          <div id="error_explanation">
            <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

            <ul>
            <% @link.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.text_field :url_input, pattern: "(https?://)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", placeholder: "Paste a link to prune", class: "validate", required: true %>
        </div>
        <div class="actions">
          <%= f.button "Prune Me", class: "btn btn-primary"%>
        </div>
      <% end %>
        <%= render "partials/clipboard" if flash[:link]%>
    </div>
  </div>
</div>
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Services </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-thumb-up"></i>
                    <h5 class="promo-caption">Know your audience</h5>
                    <p class="light center">Get analytics of those who follow your links.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-phone-iphone"></i>
                    <h5 class="promo-caption">Mobile Friendly</h5>
                    <p class="light center">Pruner was built with mobile phone in mind.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-lock"></i>
                    <h5 class="promo-caption">Highly secure</h5>
                    <p class="light center">We offer you security making sure your information is safe.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Top Links </h2>
        <div class="row">
          <% @display_top_links.each do |link| %>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="mdi-navigation-more-vert right"></i></span>
                        <p><%= link_to (root_url + link.shortened_link.to_s), link.shortened_link %></p>
                        <%= link.visits %>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
                        <p>Created by: <%= link.user.username if link.user%></p>
                        <p>Time: <%= link.created_at %></p>
                        <p>Number of clicks: <%= link.visits %></p>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
<div class="section scrollspy second" id="work">
    <div class="container">
        <h2 class="header text_b">Recent Links </h2>
        <div class="row">
          <% @display_latest_links.each do |link| %>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="mdi-navigation-more-vert right"></i></span>
                        <p><%= link_to (root_url + link.shortened_link.to_s), link.shortened_link %></p>
                        <%= time_ago_in_words(link.created_at)%> ago
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
                        <p>Created by: <%= link.user.username if link.user%></p>
                        <p>Time: <%= link.created_at %></p>
                        <p>Number of clicks: <%= link.visits %></p>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
