<!DOCTYPE html>
<html>
<head>
  <title>Pruner</title>
    <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/header" %>
  <%= yield %>
  <%= render "partials/footer" %>
  <%= javascript_include_tag "application"%>
</body>
</html>
