<!DOCTYPE html>
<html>
<head>
  <title>Pruner <%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/header" %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render "partials/footer" %>
  <%= javascript_include_tag "application"%>
  <%= debug(params) if Rails.env.development? %>
  <%= debug ENV.to_h.to_yaml if Rails.env.development?%>
</body>
</html>
